@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__tile--active {
    color: black !important;
    background-color: #C3EBFA !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: 600;
}

body{
    background-color: #f0f4f8;
}